@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);


body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21px;
  width: 100%
}

p {
  margin: 0;
}

.img-responsive {
  display: inline;
}

.center {
  text-align: center;
}

.thinkinglabs {
  background: url(../images/tl-bgd.png) #5299a6 top center;
  color: #ffffff;
}

.motherofpea {
  background: url(../images/mop-bgd.png) #ded8f0 top center;
  color: #000000;
}

.thinkinglabs a {
  color: #f8ba54;
}

.motherofpea a {
  color: #514182;
}

footer {
.thinkinglabs .mobile {
  color: #ffffff;
  text-decoration: none;
}

.motherofpea .mobile {
  color: #000000;
  text-decoration: none;
}

  background-color: #000000;
  color: #ffffff;
}

.thinkinglabs,
.motherofpea,
footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.copyright {
  margin-top: 30px;
  font-size: 13px;
}
